---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url('{{ site.cover }}')"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.author_image %}
      <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.author_image }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.headline }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
		<a href="{{ site.weibo_url }}" title="{{ site.weibo_desc }}">
			<img src="{{ site.weibo_icon }}">
		</a>
		&nbsp;&nbsp;·&nbsp;&nbsp;
		<a class="fancybox fancybox.image" href="{{ site.wechat_url }}" title="{{ site.wechat_desc }}">
			<img src="{{ site.wechat_icon }}">
		</a>
		&nbsp;&nbsp;·&nbsp;&nbsp;
		<a class="fancybox" href="#inline1">About</a>
    </div>
</header>

<div id="inline1" style="width:400px;display: none;">
		  <div class="bottom-teaser cf">
		  <div class="isLeft">
		    <section class="author">
              <div class="author-image" style="background-image: url({{site.author_image}})">Blog Logo</div>
              <h4>{{ site.author_cn }}&nbsp;{{ site.author_en }}</h4>
			  <br/>
              <p class="bio">{{site.author_info}}</p>
              <hr>
            </section>
		  </div>
          <div class="isRight">
            <h5 class="index-headline featured"><span>Contact me</span></h5>
            <footer class="site-footer">
              <section class="poweredby">Email:&nbsp;&nbsp;{{ site.email }}<br>Weibo:&nbsp;&nbsp;{{ site.weibo }}</section>
            </footer>
          </div>
		  </div>
</div>


<main class="content" role="main">

    {% if site.tags.featured %}
    <h5 class="index-headline featured"><span>最近更新</span></h5>

    <div class="container featured">
      {% for post in site.tags.featured %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
            <section class="post-excerpt" itemprop="description">
              <p>{{ post.excerpt | strip_html | truncate: 100 }}</p>
            </section>
            <div class="post-meta">
              <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
            </div>
          </div>
        </article>
      {% endfor %}
    </div>

    <h5 class="index-headline normal"><span>历史文章</span></h5>
    {% endif %}

    <div class="cf frame">
      {% for post in paginator.posts %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
            <section class="post-excerpt" itemprop="description">
              <p>{{ post.excerpt | strip_html | truncate: 100 }}</p>
            </section>
            <div class="post-meta">
              <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
            </div>
          </div>
        </article>
      {% endfor %}
    </div>

    <nav class="pagination" role="navigation">
      {% if paginator.next_page %}
        <a class="newer-posts" href="/page{{paginator.next_page}}">&larr; Older posts</a>
      {% endif %}
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="older-posts" href="/">Newer posts &rarr;</a>
        {% else %}
          <a class="older-posts" href="/page{{paginator.previous_page}}">Newer posts &rarr;</a>
        {% endif %}
      {% endif %}
    </nav>

</main>