---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/Article">
    {% include header.html %}
    <main class="content" role="main">
      <article class="post">
        {% if page.image %}
        <div class="article-image">
          <div class="post-image-image" style="background-image: url({% if page.image %}{{ page.image }}{% endif %})">
            Article Image
          </div>
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="cf post-meta-text">
              <div class="author-image" style="background-image: url({{ site.author_image }})">Blog Logo</div>
              <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ site.author_cn }}&nbsp;{{ site.author_en }}</h4>
            </div>
            <div style="text-align:center">
              <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
        {% else %}
        <div class="noarticleimage">
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <!--<div class="cf post-meta-text">
              <div class="author-image" style="background-image: url({{ page.author_image }})">Blog Logo</div>
              <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ site.author_cn }}&nbsp;{{ site.author_en }}</h4>
            </div>-->
          </div>
        </div>
        <br>
        <br>
        <br>
        {% endif %}
        <section class="post-content">
          <a name="topofpage"></a>
          {{content}}
		  <!--<div class="bottom-teaser cf">
		  <div class="isLeft">
		    <section class="author">
              <div class="author-image" style="background-image: url({{site.author_image}})">Blog Logo</div>
              <h4>{{ site.author_cn }}&nbsp;{{ site.author_en }}</h4>
			  <br/>
              <p class="bio">{{site.author_info}}</p>
              <hr>
            </section>
		  </div>
          <div class="isRight">
            <h5 class="index-headline featured"><span>Contact me</span></h5>
            <footer class="site-footer">
              <section class="poweredby">Email:&nbsp;&nbsp;{{ site.email }}<br>Weibo:&nbsp;&nbsp;{{ site.weibo }}</section>
            </footer>
          </div>
		  </div>-->		  
        </section>
		 <div class="bottom-teaser cf">
          <div class="isLeft">
		    <h5 class="index-headline featured"></h5>
            <section class="author">
              <div class="author-image" style="background-image: url({{site.author_image}})">Blog Logo</div>
              <h4>{{ site.author_cn }}&nbsp;{{ site.author_en }}</h4>
			  <br/>
              <p class="bio">{{site.author_info}}</p>
            </section>
          </div>
          {{/post}}
          <div class="isRight">
            <h5 class="index-headline featured"></h5>		  
            <footer class="site-footer">
              <section class="poweredby">Email:&nbsp;&nbsp;{{ site.email }}<br>Weibo:&nbsp;&nbsp;{{ site.weibo }}</section>
              <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> RSS订阅</span></a>
              <div class="inner">
                <section class="copyright">All content copyright <a href="mailto:{{ site.email }}">{{ site.author_en }}</a> &copy; {{ site.time | date: '%Y' }}<br>All rights reserved.</section>
              </div>
            </footer>
          </div>
        </div>
      </article>
    </main>
    <div class="bottom-closer">
      <div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover }})"{% endif %}>
        Image
      </div>
      <div class="inner">
        <h1 class="blog-title">{{ site.title }}</h1>
        <h2 class="blog-description">{{ site.description }}</h2>
        <a href="/" class="btn">Back to Overview</a>
      </div>
    </div>
    {% include javascripts.html %}
  </body>
</html>
